<a href="https://colab.research.google.com/github/Srujgit/CrimeAnalysis/blob/main/denvercrimedata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
import numpy as np
import matplotlib
import pandas as pd

In [66]:
import pandas as pd
#!file -bi crime_denver.csv
filepath="/content/drive/MyDrive/CrimeAnalysis/DenverCrimeData/crime.csv"

df = pd.read_csv(filepath, encoding='ISO-8859-1')


# Print the DataFrame
print(df.head())

   incident_id        offense_id  offense_code  offense_code_extension  \
0    202268791   202268791299900          2999                       0
1   2021387586  2021387586299900          2999                       0
2   2020641486  2020641486299900          2999                       0
3   2018612468  2018612468299900          2999                       0
4   2020293614  2020293614299900          2999                       0

           offense_type_id offense_category_id  first_occurrence_date  \
0  criminal-mischief-other     public-disorder   2/10/2022 2:50:00 AM
1  criminal-mischief-other     public-disorder    7/7/2021 9:02:00 PM
2  criminal-mischief-other     public-disorder  10/29/2020 1:30:00 AM
3  criminal-mischief-other     public-disorder    9/6/2018 5:00:00 PM
4  criminal-mischief-other     public-disorder    5/8/2020 5:00:00 AM

   last_occurrence_date          reported_date     incident_address  \
0                   NaN   2/10/2022 3:16:00 AM   1107 N SANTA FE DR
1                   NaN   7/8/2021 12:55:00 AM          815 16TH ST
2                   NaN  10/29/2020 4:31:00 AM  4745 N FEDERAL BLVD
3  9/6/2018 11:00:00 PM    9/7/2018 9:58:00 AM    65 S FEDERAL BLVD
4   5/8/2020 6:30:00 PM  5/13/2020 10:00:00 AM   12295 E ALBROOK DR

       geo_x      geo_y     geo_lon    geo_lat district_id  precinct_id  \
0  3140929.0  1692612.0 -104.998910  39.733957           1          123
1  3142470.0  1697098.0 -104.993342  39.746248           6          611
2  3133352.0  1710396.0 -105.025520  39.782888           1          111
3  3133534.0  1685797.0 -105.025330  39.715357           4          411
4  3184065.0  1710782.0 -104.845074  39.783082           5          521

  neighborhood_id  is_crime  is_traffic  victim_count
0    lincoln-park         1           0             1
1             cbd         1           0             1
2        berkeley         1           0             1
3          barnum         1           0             1
4       montbello         1           0             1

In [67]:
column_names = df.columns.tolist()
print(column_names)

['incident_id', 'offense_id', 'offense_code', 'offense_code_extension', 'offense_type_id', 'offense_category_id', 'first_occurrence_date', 'last_occurrence_date', 'reported_date', 'incident_address', 'geo_x', 'geo_y', 'geo_lon', 'geo_lat', 'district_id', 'precinct_id', 'neighborhood_id', 'is_crime', 'is_traffic', 'victim_count']

columns_to_drop = ['offense_code','offense_type_id', 'offense_category_id', 'first_occurrence_date', 'last_occurrence_date', 'reported_date', 'geo_x', 'geo_y', 'district_id', 'is_traffic', 'victim_count']  # List of column names to drop
df = df.drop(columns_to_drop,  axis=1)

In [68]:
# Assuming df is your DataFrame
print(df.columns)
#columns_to_drop = ['incident_id','offense_code']  # List of column names to drop
df = df.drop(['offense_type_id', 'offense_category_id','first_occurrence_date','last_occurrence_date', 'reported_date', 'incident_address', 'geo_x', 'geo_y', 'is_crime'], axis=1)

Index(['incident_id', 'offense_id', 'offense_code', 'offense_code_extension',
       'offense_type_id', 'offense_category_id', 'first_occurrence_date',
       'last_occurrence_date', 'reported_date', 'incident_address', 'geo_x',
       'geo_y', 'geo_lon', 'geo_lat', 'district_id', 'precinct_id',
       'neighborhood_id', 'is_crime', 'is_traffic', 'victim_count'],
      dtype='object')

In [69]:
fin_column_names= df.columns.tolist()

In [70]:
print(df.head())

   incident_id        offense_id  offense_code  offense_code_extension  \
0    202268791   202268791299900          2999                       0
1   2021387586  2021387586299900          2999                       0
2   2020641486  2020641486299900          2999                       0
3   2018612468  2018612468299900          2999                       0
4   2020293614  2020293614299900          2999                       0

      geo_lon    geo_lat district_id  precinct_id neighborhood_id  is_traffic  \
0 -104.998910  39.733957           1          123    lincoln-park           0
1 -104.993342  39.746248           6          611             cbd           0
2 -105.025520  39.782888           1          111        berkeley           0
3 -105.025330  39.715357           4          411          barnum           0
4 -104.845074  39.783082           5          521       montbello           0

   victim_count
0             1
1             1
2             1
3             1
4             1

In [71]:
# Assuming df is your DataFrame and 'column_name' is the name of the column
unique_values = df['neighborhood_id'].unique()
print(len(unique_values))

79

It can be seen that neighborhood_id has 79 unique values. In the next step we will be encoding it to numeric values

In [72]:
from sklearn.preprocessing import LabelEncoder

# Assuming df is your DataFrame and 'column_name' is the name of the column
label_encoder = LabelEncoder()
encoded_values = label_encoder.fit_transform(df['neighborhood_id'])

encoded_df = pd.DataFrame({
    'Original': df['neighborhood_id'],
    'Encoded': encoded_values
})

# Drop duplicate rows to avoid repeating entries for the same string
encoded_df.drop_duplicates(inplace=True)

# Sort the DataFrame by the encoded values for better readability
encoded_df.sort_values(by='Encoded', inplace=True)

# Display the DataFrame
print(encoded_df)

           Original  Encoded
18      athmar-park        0
324         auraria        1
40            baker        2
3            barnum        3
10      barnum-west        4
...             ...      ...
52    west-highland       74
33         westwood       75
9          whittier       76
351         windsor       77
1296            NaN       78

[79 rows x 2 columns]

In [74]:
df['neighborhood_id'] = encoded_values
df.head()

,incident_id,offense_id,offense_code,offense_code_extension,geo_lon,geo_lat,district_id,precinct_id,neighborhood_id,is_traffic,victim_count
0,202268791,202268791299900,2999,0,-104.998910,39.733957,1,123,41,0,1
1,2021387586,2021387586299900,2999,0,-104.993342,39.746248,6,611,9,0,1
2,2020641486,2020641486299900,2999,0,-105.025520,39.782888,1,111,7,0,1
3,2018612468,2018612468299900,2999,0,-105.025330,39.715357,4,411,3,0,1
4,2020293614,2020293614299900,2999,0,-104.845074,39.783082,5,521,45,0,1

In [75]:
# Assuming df is your DataFrame and 'column_name' is the name of the column
df.replace('', pd.NA, inplace=True)
for i in fin_column_names:
  num_nan_values = df[i].isna().sum()
  if num_nan_values!=0:
    print(i)
    print("Number of NaN values in the column:", num_nan_values)
  else:
    non_numeric_mask = pd.to_numeric(df[i], errors='coerce').isna()
    non_numeric_rows = df[non_numeric_mask]
    print(non_numeric_rows,i)

Empty DataFrame
Columns: [incident_id, offense_id, offense_code, offense_code_extension, geo_lon, geo_lat, district_id, precinct_id, neighborhood_id, is_traffic, victim_count]
Index: [] incident_id
Empty DataFrame
Columns: [incident_id, offense_id, offense_code, offense_code_extension, geo_lon, geo_lat, district_id, precinct_id, neighborhood_id, is_traffic, victim_count]
Index: [] offense_id
Empty DataFrame
Columns: [incident_id, offense_id, offense_code, offense_code_extension, geo_lon, geo_lat, district_id, precinct_id, neighborhood_id, is_traffic, victim_count]
Index: [] offense_code
Empty DataFrame
Columns: [incident_id, offense_id, offense_code, offense_code_extension, geo_lon, geo_lat, district_id, precinct_id, neighborhood_id, is_traffic, victim_count]
Index: [] offense_code_extension
geo_lon
Number of NaN values in the column: 15769
geo_lat
Number of NaN values in the column: 15769
district_id
Number of NaN values in the column: 57
Empty DataFrame
Columns: [incident_id, offense_id, offense_code, offense_code_extension, geo_lon, geo_lat, district_id, precinct_id, neighborhood_id, is_traffic, victim_count]
Index: [] precinct_id
Empty DataFrame
Columns: [incident_id, offense_id, offense_code, offense_code_extension, geo_lon, geo_lat, district_id, precinct_id, neighborhood_id, is_traffic, victim_count]
Index: [] neighborhood_id
Empty DataFrame
Columns: [incident_id, offense_id, offense_code, offense_code_extension, geo_lon, geo_lat, district_id, precinct_id, neighborhood_id, is_traffic, victim_count]
Index: [] is_traffic
Empty DataFrame
Columns: [incident_id, offense_id, offense_code, offense_code_extension, geo_lon, geo_lat, district_id, precinct_id, neighborhood_id, is_traffic, victim_count]
Index: [] victim_count

It can be seen that geo_lon, geo_lat and district_id have multiple missing values

In [47]:
# Interpolate missing values
df['geo_lon'] = df['geo_lon'].interpolate()
df['geo_lat'] = df['geo_lat'].interpolate()

#there are non-numeric values present
df['district_id'] = pd.to_numeric(df['district_id'], errors='coerce')
non_numeric_values = df[df['district_id'].isna()]

df['district_id'] = df['district_id'].fillna(df['district_id'].median())


print(df["geo_lon"].isna().sum())
print(df["geo_lat"].isna().sum())
print(df["district_id"].isna().sum())

0
0
0