<a href="https://colab.research.google.com/github/Srujgit/CrimeAnalysis/blob/main/DenverCrimeData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib
import pandas as pd

In [2]:
import pandas as pd
#!file -bi crime_denver.csv
filepath="/content/drive/MyDrive/CrimeAnalysis/DenverCrimeData/crime.csv"

df = pd.read_csv(filepath, encoding='ISO-8859-1')


# Print the DataFrame
print(df.head())

   incident_id        offense_id  offense_code  offense_code_extension  \
0    202268791   202268791299900          2999                       0
1   2021387586  2021387586299900          2999                       0
2   2020641486  2020641486299900          2999                       0
3   2018612468  2018612468299900          2999                       0
4   2020293614  2020293614299900          2999                       0

           offense_type_id offense_category_id  first_occurrence_date  \
0  criminal-mischief-other     public-disorder   2/10/2022 2:50:00 AM
1  criminal-mischief-other     public-disorder    7/7/2021 9:02:00 PM
2  criminal-mischief-other     public-disorder  10/29/2020 1:30:00 AM
3  criminal-mischief-other     public-disorder    9/6/2018 5:00:00 PM
4  criminal-mischief-other     public-disorder    5/8/2020 5:00:00 AM

   last_occurrence_date          reported_date     incident_address  \
0                   NaN   2/10/2022 3:16:00 AM   1107 N SANTA FE DR
1                   NaN   7/8/2021 12:55:00 AM          815 16TH ST
2                   NaN  10/29/2020 4:31:00 AM  4745 N FEDERAL BLVD
3  9/6/2018 11:00:00 PM    9/7/2018 9:58:00 AM    65 S FEDERAL BLVD
4   5/8/2020 6:30:00 PM  5/13/2020 10:00:00 AM   12295 E ALBROOK DR

       geo_x      geo_y     geo_lon    geo_lat district_id  precinct_id  \
0  3140929.0  1692612.0 -104.998910  39.733957           1          123
1  3142470.0  1697098.0 -104.993342  39.746248           6          611
2  3133352.0  1710396.0 -105.025520  39.782888           1          111
3  3133534.0  1685797.0 -105.025330  39.715357           4          411
4  3184065.0  1710782.0 -104.845074  39.783082           5          521

  neighborhood_id  is_crime  is_traffic  victim_count
0    lincoln-park         1           0             1
1             cbd         1           0             1
2        berkeley         1           0             1
3          barnum         1           0             1
4       montbello         1           0             1

In [3]:
column_names = df.columns.tolist()
print(column_names)

['incident_id', 'offense_id', 'offense_code', 'offense_code_extension', 'offense_type_id', 'offense_category_id', 'first_occurrence_date', 'last_occurrence_date', 'reported_date', 'incident_address', 'geo_x', 'geo_y', 'geo_lon', 'geo_lat', 'district_id', 'precinct_id', 'neighborhood_id', 'is_crime', 'is_traffic', 'victim_count']

columns_to_drop = ['offense_code','offense_type_id', 'offense_category_id', 'first_occurrence_date', 'last_occurrence_date', 'reported_date', 'geo_x', 'geo_y', 'district_id', 'is_traffic', 'victim_count']  # List of column names to drop
df = df.drop(columns_to_drop,  axis=1)

In [4]:
# Assuming df is your DataFrame
print(df.columns)
#columns_to_drop = ['incident_id','offense_code']  # List of column names to drop
df = df.drop(['offense_type_id', 'offense_category_id','first_occurrence_date','last_occurrence_date', 'is_traffic','victim_count', 'incident_address', 'geo_x', 'geo_y', 'is_crime'], axis=1)

Index(['incident_id', 'offense_id', 'offense_code', 'offense_code_extension',
       'offense_type_id', 'offense_category_id', 'first_occurrence_date',
       'last_occurrence_date', 'reported_date', 'incident_address', 'geo_x',
       'geo_y', 'geo_lon', 'geo_lat', 'district_id', 'precinct_id',
       'neighborhood_id', 'is_crime', 'is_traffic', 'victim_count'],
      dtype='object')

In [5]:
fin_column_names= df.columns.tolist()
print(fin_column_names)

['incident_id', 'offense_id', 'offense_code', 'offense_code_extension', 'reported_date', 'geo_lon', 'geo_lat', 'district_id', 'precinct_id', 'neighborhood_id']

In [6]:
print(df.head())

   incident_id        offense_id  offense_code  offense_code_extension  \
0    202268791   202268791299900          2999                       0
1   2021387586  2021387586299900          2999                       0
2   2020641486  2020641486299900          2999                       0
3   2018612468  2018612468299900          2999                       0
4   2020293614  2020293614299900          2999                       0

           reported_date     geo_lon    geo_lat district_id  precinct_id  \
0   2/10/2022 3:16:00 AM -104.998910  39.733957           1          123
1   7/8/2021 12:55:00 AM -104.993342  39.746248           6          611
2  10/29/2020 4:31:00 AM -105.025520  39.782888           1          111
3    9/7/2018 9:58:00 AM -105.025330  39.715357           4          411
4  5/13/2020 10:00:00 AM -104.845074  39.783082           5          521

  neighborhood_id
0    lincoln-park
1             cbd
2        berkeley
3          barnum
4       montbello

In [7]:
# Assuming df is your DataFrame and 'column_name' is the name of the column
unique_values = df['neighborhood_id'].unique()
print(len(unique_values))

79

It can be seen that neighborhood_id has 79 unique values. In the next step we will be encoding it to numeric values

In [8]:
from sklearn.preprocessing import LabelEncoder

# Assuming df is your DataFrame and 'column_name' is the name of the column
label_encoder = LabelEncoder()
encoded_values = label_encoder.fit_transform(df['neighborhood_id'])

encoded_df = pd.DataFrame({
    'Original': df['neighborhood_id'],
    'Encoded': encoded_values
})

# Drop duplicate rows to avoid repeating entries for the same string
encoded_df.drop_duplicates(inplace=True)

# Sort the DataFrame by the encoded values for better readability
encoded_df.sort_values(by='Encoded', inplace=True)

# Display the DataFrame
print(encoded_df)

           Original  Encoded
18      athmar-park        0
324         auraria        1
40            baker        2
3            barnum        3
10      barnum-west        4
...             ...      ...
52    west-highland       74
33         westwood       75
9          whittier       76
351         windsor       77
1296            NaN       78

[79 rows x 2 columns]

In [9]:
df['neighborhood_id'] = encoded_values
df.head()

,incident_id,offense_id,offense_code,offense_code_extension,reported_date,geo_lon,geo_lat,district_id,precinct_id,neighborhood_id
0,202268791,202268791299900,2999,0,2/10/2022 3:16:00 AM,-104.998910,39.733957,1,123,41
1,2021387586,2021387586299900,2999,0,7/8/2021 12:55:00 AM,-104.993342,39.746248,6,611,9
2,2020641486,2020641486299900,2999,0,10/29/2020 4:31:00 AM,-105.025520,39.782888,1,111,7
3,2018612468,2018612468299900,2999,0,9/7/2018 9:58:00 AM,-105.025330,39.715357,4,411,3
4,2020293614,2020293614299900,2999,0,5/13/2020 10:00:00 AM,-104.845074,39.783082,5,521,45

In [10]:
import pandas as pd

# Assuming your dataset is stored in a Pandas DataFrame named 'df'
# and the time column is named 'time_column'

# Convert the time column to a numerical format
df['time_numerical'] = pd.to_datetime(df['reported_date'], format="%m/%d/%Y %I:%M:%S %p").astype(int) // 10 ** 9

# Replace the original time column with the numerical format
df['reported_date'] = df['time_numerical']

# Drop the temporary 'time_numerical' column if needed
df = df.drop('time_numerical', axis=1)

# Display the first few rows of the DataFrame
print(df.head())

   incident_id        offense_id  offense_code  offense_code_extension  \
0    202268791   202268791299900          2999                       0
1   2021387586  2021387586299900          2999                       0
2   2020641486  2020641486299900          2999                       0
3   2018612468  2018612468299900          2999                       0
4   2020293614  2020293614299900          2999                       0

   reported_date     geo_lon    geo_lat district_id  precinct_id  \
0     1644462960 -104.998910  39.733957           1          123
1     1625705700 -104.993342  39.746248           6          611
2     1603945860 -105.025520  39.782888           1          111
3     1536314280 -105.025330  39.715357           4          411
4     1589364000 -104.845074  39.783082           5          521

   neighborhood_id
0               41
1                9
2                7
3                3
4               45

In [11]:
df["reported_date"].isna().sum()

0

In [12]:
# Assuming df is your DataFrame and 'column_name' is the name of the column
df.replace('', pd.NA, inplace=True)
import pandas as pd
import numpy as np

print("number of missing values in each column before imputation")

# Assuming your dataframe is named 'df'
for column in df.columns:
    df[column] = pd.to_numeric(df[column], errors='coerce')
    print(df[column].isna().sum(), column)

number of missing values in each column before imputation
0 incident_id
0 offense_id
0 offense_code
0 offense_code_extension
0 reported_date
15769 geo_lon
15769 geo_lat
525 district_id
0 precinct_id
0 neighborhood_id

we can see that the date time format has to be converted into numerical format

It can be seen that geo_lon, geo_lat and district_id have multiple missing values

In [13]:
# Interpolate missing values
#df['geo_lon'] = df['geo_lon'].interpolate()
#df['geo_lat'] = df['geo_lat'].interpolate()

#df['district_id'] = df['district_id'].fillna(df['district_id'].median())

df['geo_lat'] = df['geo_lat'].fillna(df['geo_lat'].median())
df['geo_lon'] = df['geo_lon'].fillna(df['geo_lon'].median())

print("number of missing values in each column")

for column in df.columns:
    print(df[column].isna().sum(), column)

number of missing values in each column
0 incident_id
0 offense_id
0 offense_code
0 offense_code_extension
0 reported_date
0 geo_lon
0 geo_lat
525 district_id
0 precinct_id
0 neighborhood_id

imputing district values

In [14]:
import pandas as pd
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LinearRegression

# Create the imputer and impute the missing district_id values
imputer = IterativeImputer(estimator=LinearRegression(), random_state=42, missing_values=np.nan)
df['district_id'] = imputer.fit_transform(df[['district_id']])

print(df)
for column in df.columns:
    print(df[column].isna().sum(), column)

        incident_id        offense_id  offense_code  offense_code_extension  \
0         202268791   202268791299900          2999                       0
1        2021387586  2021387586299900          2999                       0
2        2020641486  2020641486299900          2999                       0
3        2018612468  2018612468299900          2999                       0
4        2020293614  2020293614299900          2999                       0
...             ...               ...           ...                     ...
386860   2023534182  2023534182240400          2404                       0
386861   2023534279  2023534279260900          2609                       0
386862   2023533509  2023533509131506          1315                       6
386863   2023533048  2023533048131506          1315                       6
386864   2023532323  2023532323131506          1315                       6

        reported_date     geo_lon    geo_lat  district_id  precinct_id  \
0          1644462960 -104.998910  39.733957          1.0          123
1          1625705700 -104.993342  39.746248          6.0          611
2          1603945860 -105.025520  39.782888          1.0          111
3          1536314280 -105.025330  39.715357          4.0          411
4          1589364000 -104.845074  39.783082          5.0          521
...               ...         ...        ...          ...          ...
386860     1696354800 -104.890099  39.712310          3.0          321
386861     1696358040 -104.981021  39.714843          3.0          311
386862     1696334580 -104.861343  39.795869          5.0          511
386863     1696326420 -104.883680  39.706214          3.0          321
386864     1696270560 -105.052966  39.735110          1.0          122

        neighborhood_id
0                    41
1                     9
2                     7
3                     3
4                    45
...                 ...
386860               42
386861               59
386862               45
386863               77
386864               73

[386865 rows x 10 columns]
0 incident_id
0 offense_id
0 offense_code
0 offense_code_extension
0 reported_date
0 geo_lon
0 geo_lat
0 district_id
0 precinct_id
0 neighborhood_id

In [15]:
#print(df['geo_lat'].isna().sum())
#if df.isna().sum()!=0:
#df['geo_lat'] = df['geo_lat'].interpolate()


print(df['geo_lat'].isna().sum())
print(df.isna().sum())

0
incident_id               0
offense_id                0
offense_code              0
offense_code_extension    0
reported_date             0
geo_lon                   0
geo_lat                   0
district_id               0
precinct_id               0
neighborhood_id           0
dtype: int64

In [16]:
#df['geo_lat'] = df['geo_lat'].fillna(df['geo_lat'].median())
#df['geo_lon'] = df['geo_lon'].fillna(df['geo_lon'].median())

#Training the model

In [17]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error as mse
from sklearn.model_selection import train_test_split

In [ ]:
X = df[['incident_id', 'offense_id', 'offense_code', 'offense_code_extension', 'reported_date', 'geo_lon', 'geo_lat', 'district_id', 'neighborhood_id']]
y = df['precinct_id']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, shuffle = True)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size = 0.1, shuffle = True)
print(X_train,y_train)

In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error, r2_score


# Split the data into features and target
X = df[['incident_id', 'offense_id', 'offense_code', 'offense_code_extension', 'reported_date', 'geo_lon', 'geo_lat', 'district_id', 'neighborhood_id']]
y = df['district_id']

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, shuffle = True)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size = 0.1, shuffle = True)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR

# Assuming X and y are your features and target variable
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
# X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=2/7)

# Scaling features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_val_scaled = scaler.transform(X_val)
X_test_scaled = scaler.transform(X_test)

# Training the SVR model
svr = SVR(kernel='rbf', C=1, gamma='scale')
svr.fit(X_train_scaled, y_train)

# Evaluating the model on the validation set
y_val_pred = svr.predict(X_val_scaled)

# You can now evaluate the performance of your model using metrics like RMSE, MAE, etc.

In [ ]:
dtr_val_pred = dtr.predict(X_val)
svr_val_pred = svr.predict(X_val)
lin_val_pred = lin.predict(X_val)

print("Decision Tree Regression mean squared error: ", mse(y_val, dtr_val_pred))
print("Support Vector Regression mean squared error: ", mse(y_val, svr_val_pred))
print("Linear Regression mean squared error: ", mse(y_val, lin_val_pred))

In [ ]:
print(df.isna())